body{
    flex-direction: column;
    align-items: center;
    background-color: #D1EEFC;
    text-align: center;
}
img{   
    width: 100%;
}
h2{
    margin: 5px;
}
h3{
    margin: 5px;
    display: flex;
    color: #046EB5;
}
#myradio_1{
    margin: 5px;
}
h4{
    margin: 5px;
}

form{
    overflow: hidden;
    width: 100%;
}
#email{
    width: 100%;
}
#salvarExcluir{
    display: flex;
    justify-content: space-between;
}
button{
    margin-top: 10px;
}

    #map{
     height: 170px;
     width: 100%;
    }

    footer{
        margin: 5px;
    }

    button:hover{
        box-shadow: inset 200px 0 0 #35282855;
    }
    #delete{
        background-color: rgb(221, 20, 20);
        color: #fff;
    }
 